body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

div{
    margin-top: 60px;
    
}
img{
    width: 600px;
    border: 5px solid white;
}
p{
    font-size: 1.5rem;
}